# Устройство и тип данных
DEVICE=cuda
DTYPE=bfloat16

# Директории
DATA_DIR=data
CONFIGS_DIR=configs
OUTPUTS_DIR=outputs

# Логирование 
LOG_LEVEL=debug
LOG_TO_CONSOLE=true
LOG_TO_FILE=false
LOG_FILE_PATH=outputs/logs/experiment.log
LOG_MAX_BYTES=52428800
LOG_BACKUP_COUNT=5